<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.lgy.ShoFriend.dao.StoreDAO">
	<insert id="store_write"> insert into store(name, description, address) values(#{name},#{description},#{address}) </insert>
</mapper>